-f /usr/share/pip-wheels
asn1crypto
certifi
cffi
chardet
Click
cryptography
Flask
idna
itsdangerous
Jinja2==3.0.3
MarkupSafe
ndg-httpsclient
pusher
pyasn1
pycparser
pycrypto
PyNaCl
pyOpenSSL
pyotp
pypng
PyQRCode
requests
simple-crypt
six
urllib3
Werkzeug
pyrebase
pycryptodome